@model Final_Web_Project.InputModels.RecordCreateInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="bg-primary text-white font-weight-bold text-center p-3 w-60 mx-auto rounded">Create Product</h1>
<form method="post" class="form border-primary-4 rounded p-3 w-60 mx-auto mt-3">
    <div id="name-and-price-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="AlbumName" class="text-primary h5">AlbumName</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="albumName"
                   placeholder="AlbumName..."
                   asp-for="AlbumName">
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Price" class="text-primary h5">Price</label>
            </div>
            <input type="number"
                   step="0.0001"
                   class="form-control text-primary text-center"
                   id="price"
                   placeholder="Price..."
                   asp-for="Price">
        </div>
    </div>
    <div id="date-and-picture-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Artist" class="text-primary h5">Artist</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="artist"
                   placeholder="Artist..."
                   asp-for="Artist">
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Quantity" class="text-primary h5">Quantity</label>
            </div>
            <input type="number"
                   step="1"
                   class="form-control text-primary text-center"
                   id="quantity"
                   placeholder="Quantity..."
                   asp-for="Quantity">
        </div>
    </div>
    <hr class="hr-2 bg-primary mt-4">
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary font-weight-bold">Create Record</button>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
