@model Final_Web_Project.ViewModels.Record.GenreDeleteViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="bg-primary text-white font-weight-bold text-center p-3 w-30 mx-auto rounded">Delete Genre</h1>
<form method="post" action="/Administration/Record/Genre/Delete" class="form rounded p-3 w-30 mx-auto mt-3">
    <div class="form-group mx-auto">
        <div class="d-flex justify-content-center">
            <label asp-for="Name" class="text-white h5">Name</label>
        </div>
        <input type="text" class="form-control text-primary text-center" id="name" placeholder="Name..."
               asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <hr class="hr-2 bg-primary mt-4">
    <div class="d-flex justify-content-between mt-3">
        <button class="btn btn-danger font-weight-bold">Delete Genre</button>
        <a href="/Administration/Record/Genre/Create" class="btn btn-primary text-white font-weight-bold">Create Genre</a>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}